@page "{id}"
@model E85Carbs.WebServer.Pages.ProductGalleryImages.AddProductGalleryImageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add Gallery Photo";
}

<h1>@ViewData["Title"]</h1>
<h2>Product @Model.product.ProductName</h2>

<div>
    <form method="post" enctype="multipart/form-data" asp-page-handler="Submit">
        <label>Photo Name:</label>
        <input type="text" value="Photo Name" asp-for="@Model.Input.ProductGalleryImageName"><br />
        <label>Product Main Image:</label>
        <input type="file" asp-for="@Model.Input.ProductGalleryByte">
        <input type="hidden"  asp-for="@Model.productid"><br />
        <input type="submit" value="Submit" class="text-success">
    </form>
</div>