@page
@model E85Carbs.WebServer.Pages.CustomerBuilds.AddCustomerBuildModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add Customer Build";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form method="post" enctype="multipart/form-data" asp-page-handler="Submit">
        <label>Customer Name:</label>
        <input type="text" value="Customer to Add" asp-for="@Model.Input.CustomerName"><br />
        <label>Customer's Build Name':</label>
        <input type="text" value="Customer Build Name" asp-for="@Model.Input.CustomerBuildTitle"><br />
        <label>Build Description:</label>
        <input type="text" value="Build Description" asp-for="@Model.Input.CustomerBuildDescription"><br />
        <label>Customer's build Main Image:</label>
        <input type="file" asp-for="@Model.Input.MainImageData">
        <input type="submit" value="Submit" class="text-success">
    </form>
</div>


@*02.07.2022 RM Added Comments*@